@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
 font-size:16px;
}

navbar { 
height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--clr-light);
    
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
    background-color: floralwhite; 
    color: black; 
}

body { 
 background-color: darkseagreen;
 font-family: Arial, Verdana, sans-serif;
 margin:5% auto;
 width:90%;
 font-family: 'Poppins', sans-serif;
}

main {
 margin:40px 0;
 max-width:600px;
}


.checkout {
	background-color:#444;
	color:white;
}

.checkout:active,
.leave:active {
	background-color:#444;
	color:white;
}

h1 {
	font-size:2.5rem;
}

h2 {
 font-size:2rem;
 font-family: 'Karantina', cursive;
 letter-spacing: .125rem;
	text-transform: uppercase;
}

input,
label {
	display:block;
	width:100%;
	max-width:400px;
}

label {
		padding:.5rem 0;

}

input {
	outline:none;
	border: 1px solid #444;
	border-radius:5px;
	padding: 10px 15px;
   margin-bottom: 5px;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: #dc3545;
}

.form-field.success input {
    border-color: #28a745;
}

.form-field p {
    color:#dc3545;
}
button {
 width:100px;
 margin:1rem 0;
 padding:.5rem;
 font-size:.85rem;
 border:1px solid #444;
 color:#333;
 border-radius:5px;
}

button:hover {
	cursor: pointer;
}

/* Modal Styles */

.modal-wrapper {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-wrapper.visible {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background: #fff;
  margin: 1em;
  max-width: 100%;
  width: 600px;
  z-index: 100;
}

.modal-header {
  background: #333;
		display:flex;
		align-items:center;
		padding:.5rem 2rem;
}

.modal-title {
  color: #fff;
  font-size: 2em;
  margin: 0;
		width:90%;
		
}

.close-modal,
.close-modal-2 {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
		width:10%;
		
}

.close-modal:hover,
.close-modal-2:hover { opacity: 1; }

.modal-content {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
}